@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

#root{


}

@theme{
    --font-geist: "Geist";
    --font-weight-heavy: 500;
   
    --animate-blink: blink 1.2s ease-out infinite;

    @keyframes blink {
    0%, 59% { opacity: 1; }
    60%, 100% { opacity: 0; }
}
}



